RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Interdire le listing des répertoires
Options -Indexes

# Bloquer l'accès direct aux répertoires sensibles
RewriteRule ^(Controller|Model|Config|View)(/.*)?$ - [F,L]