// Couleurs de fonds
$bg-cream: #EEE8D4;
$retro-header: #403D3C; 
$retro-yellow: #FFB702;
$card-beige: #C8C4BC;  

// Couleurs de texte
$retro-black: #1A1A1A;
$retro-text: #5B4103;

// Couleurs de contraste
$retro-blue: #2E4EDC;
$retro-red: #eb5937;

// Typographies
$font-title: 'space grotesk', sans-serif;
$font-text: 'roboto', sans-serif;
$font-accent: 'automaton', sans-serif;